@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	@apply font-sans;

	// essentials
	--background-color: #ffffff;
	--text-color: #000000;

	// layouts
	--layout-spacing-x: theme('spacing.6');
	--layout-spacing-y: theme('spacing.8');

	// components
	--logo-icon-size: theme('spacing.12');
	--nav-font-size: theme('fontSize.xl');
	--nav-padding: theme('spacing.4');
	--main-margin-y: theme('spacing.8');
}

body {
	@apply min-h-screen
		flex flex-col;

	background-color: var(--background-color);
	color: var(--text-color);
}

main {
	@apply flex-1
		mx-[var(--layout-spacing-x)]
		my-[var(--layout-spacing-y)];
}
